{% extends "base.html" %}

{% block contenido %}

<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">Acerca de nosotros</h1>
            <ul>
                <li class="">Mariano</li>
                <li>Gustavo</li>
                <li>Blas </li>
                <li>Rubén</li>
                <li></li>
            </ul>
            <a class="btn btn-info" href="{% url 'noticias' %}">Volver →</a>
        </div>
    </div>
</div>

{% endblock %}