{% extends "base.html" %}

{% block contenido %}

<h1 class="display-1">{{ noticia.titulo }}</h1>
<div class="row">
    <div class="col-md-7">
        {% if noticia.imagen %}
        <img src="{{ noticia.imagen.url }}" class="rounded float-end" width="60%">
        {% else %}
        <h3 style="margin-left: 250px; margin-top: 100px;">Sin imagen. Imaginemos algo positivo....</h3>
        {% endif %}
    </div>
    <div class="col-md-4">

        {% if user.id == noticia.autor_id %}

        <a href="{% url 'modificar_post' noticia.pk %}" class="btn btn-outline-danger">Modificar</a>

        {%endif%}

        <hr>
        <h2><strong><u>Noticia:</u></strong></h2>
        <p>
            {{ noticia.contenido }}
        </p>
        <hr>
        <h5>
            <strong>Fecha de Publicacion:</strong>
        </h5>
        <p> {{ noticia.fecha_publicacion }} </p>
        <hr>
        <h5><strong>Categoria:</strong></h5>
        <p>{{noticia.categoria}}</p>
        <hr>
        <h5><strong>Autor:</strong></h5>
        <p>{{noticia.autor}}</p>

        <hr>

        <h2>Escribe un comentario</h2>
        <div>
            <form action="{% url 'comentar' %}" method="post">
                {% csrf_token %}
                <textarea name="comentario">
                </textarea>
                <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
                <button type="submit" class="btn btn-secondary">Comentar </button>
            </form>
        </div>
        <hr>
        <div>
            <h2>Comentarios</h2>
            {% for comentario in comentarios %}
            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">{{comentario.fecha_publicacion}}</div>
                <div class="card-body">
                    <h5 class="card-title"> {{comentario.autor}}</h5>
                    <p class="card-text">{{comentario.contenido}}</p>
                </div>
                <a class="btn btn-danger" href="{% url 'borrar_comentario' comentario.pk %}">Eliminar</a>
                <a class="btn btn-warning" href="{% url 'modificar_comentario' comentario.pk %}">Modificar</a>
            </div>

            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}