{% extends "base.html" %}

{% block contenido %}

<h1 class="display-1">{{ noticia.titulo }}</h1>
<div class="row">
    <div class="col-md-7">
        {% if noticia.imagen %}
        <img src="{{ noticia.imagen.url }}" class="rounded float-end" width="60%">
        {% else %}
        <h3 style="margin-left: 250px; margin-top: 100px;">Sin imagen. Imaginemos algo positivo....</h3>
        {% endif %}
    </div>
    <div class="col-md-4">

        {% if user.id == noticia.autor_id %}

        <a href="{% url 'modificar_post' noticia.pk %}" class="btn btn-outline-danger">Modificar</a>

        {%endif%}

        <hr>
        <h2><strong><u>Noticia:</u></strong></h2>
        <p>
            {{ noticia.contenido }}
        </p>
        <hr>
        <h5>
            <strong>Fecha de Publicacion:</strong>
        </h5>
        <p> {{ noticia.fecha_publicacion }} </p>
        <hr>
        <h5><strong>Categoria:</strong></h5>
        <p>{{noticia.categoria}}</p>
        <hr>
        <h5><strong>Autor:</strong></h5>
        <p>{{noticia.autor}}</p>

    </div>

</div>

{% endblock %}