{% extends "base.html" %}

{% block contenido %}

<h1 class="display-1" style="margin-left: 30px; margin-top: 30px;">Noticias</h1>

<section>
    {% if user.is_authenticated %}
    <a href="{% url 'nuevo_post' %}"><button class="btn btn-success" style="margin-left: 25px; margin-top: 40px;">Nuevo
            Post</button></a>
    <hr>
    {% endif %}

    <div> <a href="?ordenar=fecha"><button class="btn btn-info">Ordenar por fecha</button></a>
        <a href="?ordenar=alfabetico"><button class="btn btn-info">Ordenar alfabeticamente</button></a>
    </div>
    <div>
        <a href="{% url 'noticias' %}" class="btn btn-success">Todas</a>
        {% for categoria in categorias %}

        <a href="?categoria={{categoria.nombre}}" class="btn btn-light"> {{categoria.nombre}}</a>

        {% endfor %}
    </div>
    <hr>
    
</section>


<div class="container">
    <div class="row gx-5 gy-3">
        {% for noticia in object_list %}
        <div class="col-md-5">
            <div class="card mb-2">

                {% if noticia.imagen %}

                <img src="{{ noticia.imagen.url }}" alt="">

                {% else %}

                <p>Sin imagen. Usa tu imaginacion</p>

                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ noticia.titulo }}</h2>
                    <p class="card-text">{{ noticia.contenido | truncatechars:40 }}</p>
                    <a href="{% url 'detalle' noticia.id %}" class="btn btn-outline-info">ver más...</a>
                    <!-- truncatechars, para mostrar solo la cantidad indicada de caracteres -->
                    <p>{{ noticia.fecha_publicacion }}</p>
                    <a href="?autor={{noticia.autor}}" class="btn btn-success"><small>autor: {{noticia.autor}}</small></a>

                    {% if user.id == noticia.autor_id %}
                    <a href="{% url 'eliminar_post' noticia.pk %}"><button type="submit"
                            class="btn btn-danger">Eliminar</button></a>
                    {%endif%}

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}