{% extends "base.html" %}

{% block contenido %}

<h1 class="display-1" style="margin-left: 30px;">Noticias</h1>

<!-- Navegador y filtros  -->
<ul class="nav nav-pills nav-fill">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a href="{% url 'nuevo_post' %}"><button class="btn btn-success">Nuevo
                Post</button></a>
    </li>

    {% endif %}

    <li class="nav-item"><a href="?ordenar=fecha"><button class="btn btn-info">Ordenar por fecha</button></a></li>
    <li class="nav-item"> <a href="?ordenar=alfabetico"><button class="btn btn-info">Ordenar
                alfabeticamente</button></a></li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false"><button class="btn btn-success">Categorias</button></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'noticias' %}"><button
                        class="btn btn-outline-secondary">Todas</button></a>
            </li>
            {% for categoria in categorias %}
            <li><a class="dropdown-item" href="?categoria={{categoria.nombre}}"><button
                        class="btn btn-outline-secondary">{{categoria.nombre}}</button>
                </a></li>

            <!-- <a href="?categoria={{categoria.nombre}}" class="btn btn-light"> {{categoria.nombre}}</a> -->

            {% endfor %}
        </ul>
    </li>
    <hr>

</ul>
<!-- Inicio muestra de noticias -->

<div class="container">
    <div class="row gx-5 gy-3">
        {% for noticia in page_obj %}
        <div class="col-md-6">
            <div class="card mb-2">

                {% if noticia.imagen %}

                <img src="{{ noticia.imagen.url }}" alt="">

                {% else %}

                <p>Sin imagen. Usa tu imaginacion</p>

                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ noticia.titulo }}</h2>
                    <p class="card-text">{{ noticia.contenido | truncatechars:40 }}</p>
                    <a href="{% url 'detalle' noticia.id %}" class="btn btn-outline-info">ver más...</a>
                    <!-- truncatechars, para mostrar solo la cantidad indicada de caracteres -->
                    <p>{{ noticia.fecha_publicacion }}</p>
                    <a href="?autor={{noticia.autor}}" class="btn btn-success"><small>autor:
                            {{noticia.autor}}</small></a>

                    {% if user.id == noticia.autor_id %}
                    <a href="{% url 'eliminar_post' noticia.pk %}"><button type="submit"
                            class="btn btn-danger">Eliminar</button></a>
                    {%endif%}

                </div>
            </div>
        </div>

        {% endfor %}

        <!-- Paginado -->

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">previa</a>
                {% endif %}

                <span class="current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>


{% endblock %}